.post__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 30rem;
    height: 20rem;

    box-shadow: 0 4px 5px rgba(103,58,183, 0.3);
}

.post-title__container {
    background-color: rgb(224, 224, 224);

    font-size: 20px;
    font-weight: 500;

    width: 100%;
    position: relative;

    flex: 0.5;

    & p {
        margin: 1rem;
    }
}

.post-content__container {
    background-color: #fafafa;
    width: 100%;
    overflow: auto;

    font-size: 15px;

    flex: 2;

    & p {
        margin: 1rem;
    }
}

span {
    font-size: 12px;
    font-weight: bold;
    color: rgb(66, 66, 66);
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    position: absolute;
    right: 10px;
    bottom: 10px;

    &:hover {
        color: #673ab7;
        cursor: pointer;
    }
}
