<div class="post__container">
    <div class="post-title__container">
        <p>{{post?.title}}</p>
        <span class="user">
            <span>{{post?.creationUser}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Remove</span>
                </button>
            </mat-menu>
        </span>
    </div>
    <div class="post-content__container">
        <p>{{post?.description}}</p>
    </div>
    <div class="post-footer__container">
        <mat-icon class="reaction" matBadgePosition="before" [matBadge]="post?.reactionMap?.get('LIKE')"
            matBadgeColor="primary">thumb_up</mat-icon>
        <mat-icon class="reaction" matBadgePosition="before" [matBadge]="post?.reactionMap?.get('SMILE')"
            matBadgeColor="accent">favorite</mat-icon>
        <mat-icon class="reaction" matBadgePosition="before" [matBadge]="post?.reactionMap?.get('LOVE')"
            matBadgeColor="warn">mood</mat-icon>
        <mat-icon class="comment" [matBadge]="post?.totalComment" matBadgeColor="warn">chat</mat-icon>
    </div>
</div>